body {
  background-color: #b9e4d4;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}

.App-link {
  color: #61dafb;
}
.App-logo {
  width: 120px;
  color: orange;
}

.App-footer {
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
