@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&display=swap");

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}
.App h1 {
  font-family: "Exo 2", sans-serif;
}

.App-link {
  color: #61dafb;
}
.App-logo {
  width: 120px;
  color: orange;
}

.App-footer {
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
