.App {
  max-width: 800px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}

.App-logo {
  width: 200px;
}

.App-header {
  background-color: #fff;
}

.App-link {
  color: #61dafb;
}
.App-logo {
  width: 200px;
  background: -webkit-linear-gradient(
    0deg,
    #9caeff,
    #7effe7
  ); /* set gradation for background*/
  -webkit-background-clip: text; /* hollow out with text*/
  -webkit-text-fill-color: transparent; /* show background for hollowed out part*/
}
