@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&display=swap");

.Dictionary h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}

.Dictionary section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 8px 6px 8px rgba(0, 0, 30, 0.6);
  margin: 10px;
}

.input-window {
  padding: 8px 20px;
  margin: 0;
  font-size: 24px;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
}

body {
  background-color: #f8d3ff;
}
